{% extends "base.html" %}
{% block title %}Inventario General{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">📋 Inventario y Servicios (MySQL - Aiven)</h2>
    
    <table class="table table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for s in servicios %}
            <tr>
                <td>{{ s.id_servicio }}</td>
                <td>{{ s.nombre }}</td>
                <td>${{ s.precio }}</td>
                <td>{{ s.stock_disponible }}</td>
                <td>
                    <a href="{{ url_for('eliminar_servicio', id=s.id_servicio) }}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr class="my-5">

    
</div>
{% endblock %}