{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-primary">Sincronización de Inventario</h2>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-white">Base de Datos </div>
        <div class="card-body">
            <table class="table">
                <thead><tr><th>Nombre</th><th>Precio</th><th>Stock</th></tr></thead>
                <tbody>
                    {% for m in medicinas %}
                    <tr><td>{{ m.nombre }}</td><td>${{ m.precio }}</td><td>{{ m.cantidad }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
</div>
{% endblock %}